# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
dist/
build/

# Zensical documentation build output
/site

# Python dist
*.egg-info/
.eggs/

# Coverage
.coverage

# PyEnv
.python-version

# Tox
.tox/

# uv
.venv/

# py.test
lastfailed

# Jetbrain
*.iml
.idea/

